.grid {
  display: grid;
    // grid-auto-flow: row dense;
    // grid-auto-rows: var( --breakpoint-grid_auto-rows, minmax(-webkit-min-content,-webkit-max-content) );
    // grid-auto-rows: var( --breakpoint-grid_auto-rows, minmax(min-content,max-content) );
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}