.container {
  padding: 1rem;
  max-width: 1140px;
  margin: auto;
}

.loading {
  text-align: center;
  margin-top: 10%;
  p {
    font-size: 7rem;
    font-family: cursive;
    color: cornflowerblue;
  }
}

.trip_list_section {
  margin-top: 10px;
}