@keyframes loading {
  0% {
    opacity: .7;
  }

  50% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

.trip_item {
  display: flex;
  flex-direction: column;
}

.img, .img_placeholder {
  border-radius: 10px;
}

.img_placeholder {
  width: 100%;
  height: 23vh;
  background-color: #f5f0f0;
  opacity: .5;
  animation: 1s ease-out 0s 1 loading;
  animation-iteration-count: infinite;
}